Show page
<ul>
	<li>
		<%= @user.user_name %>
	</li>
	<li>
		<%= attachment_image_tag @user, :user_image, :fill, 100, 100, fallback: "no_image_big.jpg", alt:"User image" %>
	</li>
	<li>
		<%= @user.email %>
	</li>
</ul>

<%= link_to "User Edit", edit_user_path(@user), class: "btn btn-success" %>