<div class="main_visual">
	<h2 class="home_heading">ようこそHistoireへ！</h2>
	<p class="home_paragraph">授業では教えてもらえない<br>たくさんのエピソードが歴史には<br>あります。<br>みなさんで教えあいながら<br>楽しく学んでみませんか？</p>
</div>

<div class="col-md-8">
	<p>hogehoge</p>
</div>

<div class="col-md-4">
	<p>fugafuga</p>
</div>
