<div class="container">
	<div class="row">
		<div class="col-md-8" >
			<div>
				<%= @category.category_name %>
			</div>
		</div>
		<div class="col-md-4">
			<%= render 'posts/sidebar' %>
		</div>
	</div>
</div>