// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*home*/
  /*トップ画像*/
.home_top_container{
  width: 1519px;
  margin: 0 auto;
}

.home_top_heading{
  padding: 50px 0px 0px 170px;
  margin-top: 0!important;
}

.home_top_paragraph{
  padding: 10px 0 10px 165px;
  font-size: 20px;
}

.home_top_visual {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url(world_ver5.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
  /*コンテンツ左側*/
.home_left_container {

}

/*Show*/
.post_image_wrapper {
  border: groove 10px;
  margin: 0 auto;
}

.show_post_image {
  width: 100%;
  height: 100%;
}

.comment_wrapper {
  border: solid 1px #eeeeee;
}

.comment_user_box{
  display: inline-block;
  font-size: 20px;
}

.btn_new_post{
  margin-left: 75px;
  padding: 300px;
  font-size: 200px!important;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  border: double 3px gray!important;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  text-decoration: inherit;
  background: #1084e7ab;
}

.btn_new_word{
  margin-left: 100px;
  padding:300px;
  font-size: 200px!important;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  border: double 3px gray!important;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  text-decoration: inherit;
  background: #6aeb46ab;
}

.btn_categories {
  background: #eeeeee;
  font-size: 30px!important;
  text-align: center;
  width: 95%;
  margin-left: 8px;
}

